---

---

<!DOCTYPE html>
<html>

    <head>
        <title> Programmieren lernen - Tools für die Schule </title>
        <link rel="shortcut icon" href="robo.png" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="style.css" />
        <meta charset="utf-8" />
        <script src="filter.js">
        </script>
    </head>

    <body>
        <div class="title">
          <!-- Suchfeld-Versuch  <p> <input style="text-align:right" type="search" id="suche" placeholder="Suche..."></p>  -->  
            <h2 margin-bottom="0rem";> Programmieren lernen - Tools für die Schule </h2>

            <div class="roboline">
                <img src="robo.svg">            
                <img src="robo.svg">
                <img src="robo.svg">
                <img src="robo.svg">
                <img src="robo.svg">
            </div>

            <p> <a style="display:block; text-align:left; float:left; color:#99e6e6" href="#footer">Impressum</a> <a style="display:block; text-align:right; color:#99e6e6" href="mailto:martina.friker@gmx.ch">Kontakt</a> </p>
        </div>

        <div class="text">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-xs-12 col-md-4 introduction">
                        <h4> Beschreibung</h4>
                        <p> Diese Seite richtet sich an Lehrpersonen aller Stufen. Sie bietet eine Übersicht über Werkzeuge zum Thema "Programmieren lernen" die sich im Einsatz bewährt haben. Die Werkzeuge sind eingeteilt in die Kategorien <strong>"Roboter"</strong>, <strong>"online"</strong>, <strong>"Platinen"</strong> und <strong>"Apps"</strong> (iOS). Passendes Unterrichtsmaterial ist beim Werkzeug verlinkt. </p>
                    </div>

                    <div class="col-xs-12 col-md-8 links">
                        <h4 class="links_title"> Allgemeine Links zu Unterrichtsmaterialien</h4>
                        <ul>
                            <li> <a href="https://appcamps.de/unterrichtsmaterial/" target="_blank" rel="noopener"> Appcamps </a> (Komplette Unterrichtseinheiten mit Lernkarten und Videos; mit Registrierung) </li>
                            <li> <a href="https://csunplugged.org/" target="_blank" rel="noopener"> CS unplugged </a> (Informatik ohne Computer - Unterrichtsideen zum Teil auf Englisch) </li>
                            <li> <a href="http://www.educ.ethz.ch/unterrichtsmaterialien/informatik.html" target="_blank" rel="noopener"> educeth </a> (Unterrichtsbeispiele für Sekundarstufe 2) </li>
                            <li> <a href="http://ilearnit.ch/" target="_blank" rel="noopener"> iLearnIT </a> (6 Module zu verschiedenen Aspekten der Informatik; Programmierbeispiele mit Scratch, ergänzend zu i-factory Verkehrshaus) </li>
                            <li> <a href="https://www.inf-schule.de" target="_blank" rel="noopener"> inf-Schule </a> (Elektronisches Schulbuch für Informatik) </li>                    
                            <li> <a href="http://www.mia4u.ch/katalog/" target="_blank" rel="noopener"> mia4u </a> (Unterrichtsideen zu Informatik und Medien - Orientierung am Lehrplan 21) </li>
                            <li> <a href="https://archiv-minibiber.ch/index.php/material" target="_blank" rel="noopener"> Minibiber </a> (Informatik ohne Strom - Unterrichtsideen für Zyklus 1) </li>
                            <li> <a href="https://www.roteco.ch/de/aktivitaeten/?language=de" target="_blank" rel="noopener"> Roteco </a> (Unterrichtsideen zu Robotik) </li>
                            <li> <a href="https://www.schularena.com/ict/informatik" target="_blank" rel="noopener"> Schularena </a> (Sammlung von Unterrichtsideen, Links, Aufgaben zu Programmieren, Robotik) </li>
                            <li> <a href="https://www.swisseduc.ch/informatik/" target="_blank" rel="noopener"> Swisseduc </a> (Sammlung von Unterrichtsideen, Links und mehr) </li>
                            <li> <a href="https://www.sonnentaler.net/aktivitaeten/informatik/programmieren/123-kodiert/" target="_blank" rel="noopener"> 1, 2, 3 ... kodiert </a> (Komplette Unterrichtseinheiten mit Arbeitsblättern zu Scratch, Thymio und Informatik ohne Computer) </li>   
                        </ul>

                    </div>

                </div>

            </div>
        </div>



        <div class="container-fluid content">

            <table id="choice"> </table>
            <div class="columns">
                {% for tool_hash in site.data.tools %} {% assign tool = tool_hash[1] %}
                <div class="toolbox">
                    <div class="tools" data-category="{{tool.category}}" data-ages='["{{tool.ages | join: '","'}}"]' data-languages='["{{tool.languages | join: '","'}}"]'>
                        <h3 class="tool_title"> {{tool.name}} </h3>

                        <img class=tool_image src="{{site.baseurl}}/assets/images/{{tool.image_name}}">
                        <div> <strong>Stufe:</strong>
                            <ul>
                                {% for a in tool.ages %}
                                <li> {{a}} </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <p> <strong>Beschreibung:</strong> {{tool.description}} </p>
                        
                        {% if tool.advantages != null %}
                            <p> <strong>Vorteile:</strong> {{tool.advantages}} </p>
                        {% endif %}

                        <div> <strong>Programmiersprachen:</strong>
                            <ul>
                                {% for p in tool.languages %}
                                <li> {{p}} </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <p> <strong>Link:</strong> <a href="{{tool.link.url}}" target="_blank" rel="noopener"> {{tool.link.desc}} </a> </p>
                        {% if tool.materials != null %}
                            <div> <strong>Materialien:</strong>
                                <ul>
                                    {% for m in tool.materials%}
                                    <li> <a href="{{m.url}}" target="_blank" rel="noopener"> {{m.desc}} </a> </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>


    <footer class="footer" id="footer">
        <h4 class="footertitle">Impressum</h4>

            <p>Diese Seite entstand im Rahmen des CAS "Informatik am Gymnasium" der FHNW. </p>
            <p> Tipps/ Korrekturen/ Ergänzungen usw. nehme ich gerne entgegen unter <a class="footerlinks" href="mailto:martina.friker@gmx.ch" target="_blank" rel="noopener">martina.friker@gmx.ch</a></p>
            <p>1000 Dank an <a class="footerlinks" href="https://tobi.oetiker.ch/hp/" target="_blank" rel="noopener"> Tobias Oetiker </a> und <a class="footerlinks" href="https://rubymonstas.ch/" target="_blank" rel="noopener"> Rubymonstas Zürich </a> für die grosszügige fachliche Unterstützung!</p>

    </footer>


</html>
